.DS_Store
4011 Formal Language and Autonoma/Homework/Screenshots/1.4f.png
4011 Formal Language and Autonoma/Homework/Screenshots/1.4e.png
4011 Formal Language and Autonoma/Homework/Screenshots/1.3fix.png
4011 Formal Language and Autonoma/Homework/Screenshots/1.3.png
4011 Formal Language and Autonoma/Homework/Austin Lyksett Assignment 1.pdf
4011 Formal Language and Autonoma/Homework/Austin Lyksett Assignment 1.md
4011 Formal Language and Autonoma/Homework/Austin Lyksett Assignment 1.html
4011 Formal Language and Autonoma/Homework/Screenshots/Screenshot 2023-09-18 at 8.00.09 PM.png
4011 Formal Language and Autonoma/Homework/Screenshots/1.6m.png
4011 Formal Language and Autonoma/Homework/Screenshots/1.6l.png
4011 Formal Language and Autonoma/Homework/Screenshots/1.6k.png
4011 Formal Language and Autonoma/Homework/Screenshots/1.5h.png
4011 Formal Language and Autonoma/Homework/Screenshots/1.5g.png
4011 Formal Language and Autonoma/Homework/Screenshots/1.5c.png
4011 Formal Language and Autonoma/Homework/Screenshots/1.4g.png
4011 Formal Language and Autonoma/Homework/Austin Lyksett Assignment 1.md
4011 Formal Language and Autonoma/.DS_Store
4011 Formal Language and Autonoma/Homework/Austin Lyksett Assignment 1.md
4011 Formal Language and Autonoma/.DS_Store
4011 Formal Language and Autonoma/.DS_Store
4011 Formal Language and Autonoma/Homework/Austin Lyksett Assignment 1.md
